@model Lg.EducationPlatform.ViewModel.StudentViewModel
@{
    ViewBag.Title = "长沙理工大学综合管理系统|学生管理|查看";
}

@section headLink{
    <style type="text/css">
        p label {
            float: left;
            width: 200px;
            text-align: right;
            padding: 0px 20px 0 0;
        }
        .field {
            padding-left: 20px;
        }
        .layer_notice {
            display:none;
        }
        .layer_content {
            padding: 30px;
        }
        .layer_btn{
            margin-top:15px;
            text-align:right;
            padding-right:30px;
        }
    </style>
}

@section headScript{
    @Scripts.Render("~/bundles/form")
    <script type="text/javascript">
        var index;
        jQuery.noConflict();
        jQuery(function () {
            jQuery('input:checkbox, input:radio, select.uniformselect, input:file').uniform();
            jQuery('#student,#stu_info').addClass('current');
            jQuery('body').addClass('withvernav');

            var roleId = @ViewBag.RoleId;
            if (roleId != 0)
                jQuery('#btn_audit').css({ "display": "none"});
            //var status = jQuery('#Status').val();
            //if (status.toLowerCase() == "true") {
            //    jQuery('#btn_audit').text("撤销审核");
            //}

            jQuery(".pimg").click(function () {
                var _this = jQuery(this);//将当前的pimg元素作为_this传入函数
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });

            jQuery('#btn_audit').click(function () {
            //    var id = jQuery('#Id').val()
            //    jQuery.post("/Student/Audit/" + id, function (data) {
            //        if (data.Status == "1") {
            //            layer.alert('操作成功', {
            //                time: 2000
            //            });
            //            location.href = "/Student/Index";
            //        } else if (data) {
            //            layer.alert('操作失败', 8);
            //        }
                //    });
                index = layer.open({
                    type: 1,
                    title: '信息审核',
                    closeBtn: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['320px', '210px'], //宽高
                    content: jQuery('.layer_notice')//, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                    //cancel: function () {
                    //    layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
                    //}
                });
            });
        });

        function imgShow(outerdiv, innerdiv, bigimg, _this) {
            var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
            jQuery(bigimg).attr("src", src);//设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
            jQuery("<img/>").attr("src", src).load(function () {
                var windowW = jQuery(window).width();//获取当前窗口宽度
                var windowH = jQuery(window).height();//获取当前窗口高度
                var realWidth = this.width;//获取图片真实宽度
                var realHeight = this.height;//获取图片真实高度
                var imgWidth, imgHeight;
                var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

                if (realHeight > windowH * scale) {//判断图片高度
                    imgHeight = windowH * scale;//如大于窗口高度，图片高度进行缩放
                    imgWidth = imgHeight / realHeight * realWidth;//等比例缩放宽度
                    if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度
                        imgWidth = windowW * scale;//再对宽度进行缩放
                    }
                } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度
                    imgWidth = windowW * scale;//如大于窗口宽度，图片宽度进行缩放
                    imgHeight = imgWidth / realWidth * realHeight;//等比例缩放高度
                } else {//如果图片真实高度和宽度都符合要求，高宽不变
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                jQuery(bigimg).css("width", imgWidth);//以最终的宽度对图片缩放

                var w = (windowW - imgWidth) / 2;//计算图片与窗口左边距
                var h = (windowH - imgHeight) / 2;//计算图片与窗口上边距
                jQuery(innerdiv).css({ "top": h, "left": w });//设置#innerdiv的top和left属性
                jQuery(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg
            });

            jQuery(outerdiv).click(function () {//再次点击淡出消失弹出层
                jQuery(this).fadeOut("fast");
            });
        }

        function submitAudit() {
            var id = jQuery('#Id').val();
            var status = jQuery('input[name="Status"]:checked').val();
            jQuery.post("/Student/Audit/" + id, { "status": status }, function (data) {
                if (data.Status == "1") {
                    //layer.alert('操作成功', {
                    //    time: 2000
                    //});
                    location.href = "/Student/Index";
                } else if (data) {
                    layer.alert('操作失败', 8);
                }
            });
        }

        function closeWin() {
            layer.close(index);
        }
    </script>
}

@{ Html.RenderPartial("~/Views/Shared/_StudentMenu.cshtml"); }

<div class="centercontent">
    <ul class="breadcrumbs">
        <li><a>首页</a></li>
        <li><a href="">学生管理</a></li>
        <li>查看详情</li>
    </ul>
    <div class="contentwrapper">
        <div class="contenttitle2">
            <h3>基本信息</h3>
        </div>
        <p>
            <label>姓名：</label>
            <span class="field">
                @Model.SurName
            </span>
        </p>
        <p>
            <label>性别：</label>
            <span class="field">
                @(Model.Sex == 0 ? "女" : "男")
            </span>
        </p>
        <p>
            <label>身份证号：</label>
            <span class="field">
                @Model.IdCard
            </span>
        </p>
        <p>
            <label>民族：</label>
            <span class="field">
                @Model.Nationality
            </span>
        </p>
        <p>
            <label>籍贯：</label>
            <span class="field">
                @Model.Birthplace
            </span>
        </p>
        <p>
            <label>手机：</label>
            <span class="field">
                @Model.Phone
            </span>
        </p>
        <p>
            <label>届别：</label>
            <span class="field">
                @Model.Period
            </span>
        </p>

        <p>
            <label>政治面貌：</label>
            <span class="field">
                @Model.PoliticalStatus
            </span>
        </p>
        <p>
            <label>通讯地址：</label>
            <span class="field">
                @Model.Address
            </span>
        </p>
        <div class="contenttitle2">
            <h3>报考信息</h3>
        </div>
        <p>
            <label>文化层次：</label>
            <span class="field">
                @Model.EducationalLevelStr
            </span>
        </p>

        <p>
            <label>报考层次：</label>
            <span class="field">
                @Model.ExaminationLevelStr
            </span>
        </p>

        <p>
            <label>专业：</label>
            <span class="field">
                @Model.MajorName
            </span>
        </p>
        <p>
            <label>备注：</label>
            <span class="field">
                @Model.Remark
            </span>
        </p>
        <div class="contenttitle2">
            <h3>其他信息</h3>
        </div>
        <div id="pic" style="padding-left:220px; height:90px;">
            <ul class="morephotolist">
                <li><a href="javascript:void(0);"><img class="pimg" src="@Model.BareheadedPhotoPath" height="80" alt="2寸蓝底免冠照" /></a></li>
                <li><a href="javascript:void(0);"><img class="pimg" src="@Model.IdCardFrontPath" height="80" alt="身份证正面" /></a></li>
                <li><a href="javascript:void(0);"><img class="pimg" src="@Model.IdCardBackPath" height="80" alt="身份证反面" /></a></li>
            </ul>
        </div>
        <br />

        <p class="stdformbutton">
            <label>&nbsp;</label>
            @Html.HiddenFor(m => m.Id)
            <button class="stdbtn btn_orange" onclick="javascript: history.go(-1);"><<返回学生管理</button>&nbsp;&nbsp;
            <button id="btn_audit" class="stdbtn btn_red" onclick="openAudit();">信息审核</button>&nbsp;&nbsp;
            <button id="btn_pdf" class="stdbtn" onclick="javascript:location.href='/Student/DownloadPdf/@Model.Id'">下载报名表</button>
        </p>
    </div>
</div>

<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;background-color:white">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>

<div class="layer_notice">
    <div class="layer_content">
        @Html.RadioButtonFor(m => m.Status, 0) 未确认 &nbsp; &nbsp;
        @Html.RadioButtonFor(m => m.Status, 1) 已注册 &nbsp; &nbsp;
        @Html.RadioButtonFor(m => m.Status, 2) 退学
    </div>
    <div class="layer_btn">
        <button class="stdbtn btn_orange" onclick="submitAudit();">确 定</button>&nbsp;&nbsp;
        <button id="btn_audit" class="stdbtn" onclick="closeWin();">取 消</button>
    </div>
</div>