@model Lg.EducationPlatform.ViewModel.TeacherViewModel

@section headLink{
    <style type="text/css">
        input[type='password'] {
            padding: 8px 5px;
        }
    </style>    
}
@section headScript{
    <script type="text/javascript" src="/Content/js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(function () {
            jQuery('input:checkbox, input:radio, select.uniformselect, input:password').uniform();

            var id = jQuery('#Id').val();
            id > 0 ? jQuery('#teacher,#tea_info').addClass('current') : jQuery('#teacher,#tea_add').addClass('current');
            jQuery('body').addClass('withvernav');

            jQuery("#addteacherform").validate({
                rules: {
                    UserName: {
                        required: true,
                        maxlength: 30,
                        remote: {
                            url: "/Teacher/ValidateUser",
                            type: "post",
                            dataType: 'json',
                            data: {
                                'username': function () { return jQuery('#UserName').val(); }
                            }
                        }
                    },
                    RealName: {
                        required: true,
                        maxlength: 5
                    },
                    Email: {
                        email: true
                    },
                    Phone: {
                        required: true,
                        minlength: 11,
                        maxlength: 11,
                        isPhoneNum: true
                    },
                    Password: {
                        required: true,
                        maxlength: 30
                    }
                },
                messages: {
                    UserName: {
                        required: "用户名不能为空",
                        maxlength: "您输入的用户名太长",
                        remote: "用户名已经存在"
                    },
                    RealName: {
                        required: "真实姓名不能为空",
                        maxlength: "您输入的真实姓名太长"
                    },
                    Email: {
                        email: "邮箱格式不正确"
                    },
                    Phone: {
                        required: "请输入一个正确的手机号码",
                        maxlength: "请填写11位的手机号",
                        minlength: "请填写11位的手机号",
                        isPhoneNum: "请填写正确的手机号码"
                    },
                    Password: {
                        required: "初始密码不能为空",
                        maxlength: "您输入的初始密码太长了"
                    }
                },
                submitHandler: function (form) {
                    jQuery.post("/Teacher/Add", jQuery(form).serialize(), function (data) {
                        if (data.Status == "1") {
                            layer.confirm(data.Message, {
                                btn: ['教师信息', '继续操作']
                            }, function () {
                                window.location.href = "/Teacher/Index";
                            }, function () {
                                window.location.href = '/Teacher/Add/' + id;
                            });
                        } else {
                            layer.alert(data.Message);
                        }
                    });
                }
            });

            if (id > 0) {
                jQuery("#Password").rules("remove");
            }
        });

        //自定义手机号验证
        jQuery.validator.addMethod("isPhoneNum", function (value, element) {
            var length = value.length;
            var mobile = /^1[3|5|8]{1}[0-9]{9}$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");
    </script>
}

@{ Html.RenderPartial("~/Views/Shared/_TeacherMenu.cshtml"); }

<div class="centercontent">
    <ul class="breadcrumbs">
        <li><a>首页</a></li>
        <li><a href="">教师管理</a></li>
        @if (Model.Id > 0)
        {
            <li>编辑教师</li>
        }
        else
        {
            <li>添加教师</li>
        }
    </ul>
    <div class="contentwrapper">
        <form id="addteacherform" class="stdform" method="post" action="">
            <div class="contenttitle2">
                <h3>基本信息</h3>
            </div>
            <p>
                <label>用户名</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "smallinput" })
                </span>
            </p>
            <p>
                <label>真实姓名</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.RealName, new { @class = "smallinput" })
                </span>
            </p>
            <p>
                <label>初始密码</label>
                <span class="field">
                    @Html.PasswordFor(m => m.Password, new { @class = "smallinput" })
                </span>
            </p>
            <p>
                <label>角色</label>
                <span class="field">
                    @Html.DropDownListFor(m => m.RoleId, ViewBag.UserRole as List<SelectListItem>, new { @class = "uniformselect" })
                </span>
            </p>
            <p>
                <label>手机</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "mediuminput" })
                </span>
            </p>
            <p>
                <label>邮箱</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.Email, new { @class = "longinput" })
                </span>
            </p>
            <br />

            <p class="stdformbutton">
                @Html.HiddenFor(m => m.Id)
                <button class="submit radius2">提交信息</button>
            </p>
        </form>
    </div>
</div>